nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 44px;
    background-color: purple;
    
}
.navbar-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
.logo {
    margin-right: auto;
    
}
.logo img{
    height: 44px;
    width: auto;
    }
.logo a , .link a{
    font-size: 1rem;
    text-decoration: none;
    color: azure;
    font-family: 'open sans',sans-serif;

}
.link a {
    
    padding-left: 10px;
    text-transform: uppercase;
    

}