@import "variables";

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: $navbar-height;
    background-color: $grey-dark;
    
}
.navbar-wrapper {
    display: flex;
    width: $container;    
    box-sizing: border-box;
    
}
.logo {
    margin-right: auto;
    padding-left: 10px;
    

    img{
    height: 44px;
    width: auto;
}
    }
.logo a , .link a {
    font-size: 14px;
    text-decoration: none;
    color: $putih;
    font-family: 'open sans',sans-serif;
    &:hover{
        color: $grey;
        transition: all .25 ease;
    }

}
.link a {
    
    padding-left: 10px;
    text-transform: uppercase;
    
    

}