$container : 960px;


$putih: #fafafa;
$hijau: #97fd00;
$biru: #2b69ae;
$grey: #868686;
$grey-dark: #424244;
$hitam: #010101;

/* navbar */

$navbar-height : 44px;
$navbar-line-height : $navbar-height;
